* {
    background: rgb(187, 186, 186);
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: white;
    background: grey;
}
p {
    text-indent: 25px;
    margin: 25px 25px;
}
div ¨{
    margin: 25px 25px 25px 25px;
}